.baslik {
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 20px; 
}

.form-subtitle1 {
    color: #CE2829 !important; 
    font-family: 'Satisfy', cursive; /* Satisfy fontu */
}

.form-subtitle2 {
    color: black;
    font-weight: bold; /* Yazıyı kalın yapar */
    font-family: 'Barlow', sans-serif;
}

@media (max-width: 480px) {
    .baslik {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 100px;
        box-sizing: border-box;
        text-align: center;
    }
}